/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 strong {
 	color: #8E0000;
 	font-size: 18px;
 }

.event_header {
 		text-align: center;
 }

.header {
 	font-size: 25px;
 	color: #02807C ;
 	text-align: center;
 }

.movie_message {
	background-color: #02807C;
	color: #FFF;
	padding: 15px 15px;
	border-radius: 25px;
}

ul {
	margin: 2px 2px;
}

ul > li {
	font-size: 25px;
	list-style: none;
}

ul > p {
	font-size: 20px;
	background-color: #25A69E;
	padding: 15px 15px;
	text-align: center;
	border-radius: 10px;
	display: inline-block;
	color: #FFF;
}

.movie_container {
	text-align: center;
}



/* ----------------------- */

/*.movie_example, table {
	text-align: center;
}

.tab > tr {
	text-align: center;
}*/